body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(16, 15, 15, 0.838);

    .message-area {

        height: 100vh;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .user {

            position: fixed;
            left: 4%;
            top: 4%;
            height: 100px;
            width: 100px;
            background-color: green;
            border-radius: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        #msg-space {

            margin-top: 20px;

        }

        #input-area {
    
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
    
            input {
    
                height: 50px;
                width: 40%;
                margin-bottom: 15px;
    
            }
    
            button {
    
                height: 56px;
                width: 10%;
                margin-bottom: 15px;
    
            }
    
        }
    }


}